/* *********************Site Wide********************* */

:root {
    --heading-font: "Montserrat", sans-serif;
    --body-font: "Roboto", sans-serif;
    --primary-color: #0B3C5D;
    --secondary-color: #1B5E20;
    --hover-color: #4F7C95;
    --background: #F8F9FA;
    --card-background: #E9ECEF;
    --alternate-row: #E8F0F4;
    --body-text: #212529;
    --light-text: #FFFFFF;
    /* Card Colors */
    --np-color: #6B4C7A;
    --bronze-color: #A97142;
    --silver-color: #8A96A3;
    --gold-color: #C49A00;

}

* {
    box-sizing: border-box;
}

/* *********************HEADER********************* */

header {
    display: grid;
    grid-template-columns: 44px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    background-color: var(--primary-color);
}

header img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 6px;
    border: solid 1px var(--secondary-color);
    border-radius: 10px;
}

header span {
    font-size: 1.5rem;
    color: var(--light-text);
    padding-bottom: 5px;
    margin-left: 10px;
}

/* *********************HAMBURGER********************* */

.hamburger {
    background: none;
    border: none;
    color: var(--light-text);
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}



/* *********************NAV********************* */

.navigation {
    display: none;
    grid-column: 1 / -1;
    margin-right: 10px;
}

.navigation.show {
    display: block;
    background-color: var(--primary-color);

}

.navigation ul {

    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--light-text);
    text-decoration: none;
    font-size: small;
    border-bottom: solid 1px #ddd;


}

.navigation li.current {
    background-color: var(--secondary-color);
}

.navigation a:hover {
    background-color: var(--hover-color);
}

/* *********************Home/Index********************* */


/* hero section */

#home section {
    padding: 15px;

}

#heroSection {
    position: relative;
    margin: .25rem;
    grid-column: span 2;

}

#hero h1,
#hero h2,
#hero a {
    color: var(--light-text);
    padding-left: 10px;
    margin-top: 5px;
}


#hero {
    position: absolute;
    top: 10%;
    left: 5%;
    color: white;
    max-width: 450px;
    text-shadow: 2px 2px 5px black;
    background-color: rgba(27, 94, 32, 0.8);
    border: solid var(--body-text) 1px;
    border-radius: 10px;
    padding: 10px;


}



#heroSection img {
    width: 100%;
    display: block;
    height: auto;
}

/* Current Events */

#currentEvents,
#weather,
#spotlight {
    border-top: solid var(--secondary-color) 1px;

}

#currentEvents h2,
#weather h2,
#spotlight h2 {
    color: var(--primary-color);
    text-align: center;
}

.event {
    border: solid 1px var(--secondary-color);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px #a1a1a1;
    padding: 10px;
    background-color: var(--card-background);

}

/* Weather */

#currentWeather {
    padding-bottom: 20px;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: solid 1px var(--secondary-color);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px #a1a1a1;
    padding: 10px;
    background-color: var(--card-background);
}

#today {
    font-size: 2em;
}

figcaption,
figure p {
    text-transform: uppercase;
    color: var(--body-text);
    text-align: center;
    margin: 0 0 0 0;
}

#weather-icon {
    width: 4rem;
}

#forcast {
    display: block;
    justify-items: center;

}

#forcast h3 {
    color: var(--primary-color);
    margin-bottom: 0px;
}

#threeDay {
    display: flex;
    flex-direction: column;
    margin: 20px;

}

#threeDay figure {
    margin: 10px;
    width: 80%;
}


/* *********************Directory********************* */

#directory h1,
#join h1 {
    margin-left: 10px;
    color: var(--body-text);
}


/* ***Grid Buttons*** */
#grid-button-cont {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 1rem;
}

#grid-button-cont button {
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    background-color: var(--card-background);
    color: var(--body-text);
    cursor: pointer;
}

#grid-button-cont button:hover {
    background-color: var(--hover-color);
}

#grid-button-cont button.current {
    background-color: var(--primary-color);
    color: var(--light-text);
}

/* ***Grid Cards*** */
/* Spotlight Member Cards */
.grid,
#spotlight {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    padding: 15px;
}

.grid section,
#spotlight section {
    border: solid 1px var(--secondary-color);
    border-radius: 10px;
    margin: 5px;
    width: calc(100% - 10px);
    box-shadow: 5px 5px 5px 5px #a1a1a1;
}

.grid .memberName,
#spotlight .memberName {
    border-bottom: solid 1px var(--secondary-color);
    grid-column: span 2;
    height: 90px;
}

.grid section div h2,
.grid section div h3,
#spotlight section div h2,
#spotlight section div h3 {
    display: block;
    text-align: center;
    margin: 10px;
}

.grid .bottomCard,
#spotlight .bottomCard {
    display: flex;
    flex-direction: row-reverse;
    justify-self: left;
    gap: 3rem;
    padding: 15px;

}

#spotlight h2 {
    grid-column: 1 / -1;
    text-align: center;
}

.bolded {
    font-weight: 800;
}

.bottomCard p {
    overflow-wrap: anywhere;
}

.grid section .address,
#spotlight section .address {
    display: none;
}


/* ***List*** */

.list {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.list section {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    margin: 0;
    padding: 0.25rem;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section .bottomCard {
    grid-column: span 2;
}

.list section .memberName {
    min-width: 150px;
}

.list section .bottomCard div {
    display: flex;
    flex-direction: column;
}

.list section .bottomCard div p {
    padding: 5px;
    width: 100%;
    text-align: left;
}

.list section .address {
    display: block;
}

.list section .email {
    display: none;
}

.list section:nth-child(even) {
    background-color: var(--alternate-row);
    color: var(--body-text);
}



/* *********************JOIN********************* */

/* Form */
main h2 {
    margin-left: 20px;
    color: var(--secondary-color);
    text-align: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin: 1em;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    background-color: var(--card-background);
}

fieldset label {
    display: flex;
    margin: 5px;
    flex-direction: column;
}

fieldset input,
fieldset textarea {
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 5px;
    border-left: 10px solid var(--secondary-color);
    height: 2.5em;

}

#levels {
    display: flex;
    flex-direction: column;
}

.levelRadio {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: solid 1px var(--secondary-color);
    border-radius: 5px;

}

.inputRadio {
    margin: 1em;
    transform: scale(1.5);
    accent-color: var(--secondary-color);

}

#submitBtn {
    display: block;
    justify-self: center;
    width: 200px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
}

/* Membership Cards */

.memCard {
    border: 1px solid var(--secondary-color);
    margin: 2em;
    text-align: center;
    padding-bottom: 1em;
    box-shadow: 5px 5px 5px 5px #a1a1a1;
    background-color: var(--card-background);

    opacity: 0;
    transform: translateY(150px);
}

.memCard div {
    display: block;
    height: 2em;
    padding: 0px;
}

.num0 div {
    background-color: var(--np-color);

}

.num0 {
    border: 5px solid var(--np-color);
    border-radius: 10px;
}

button.num0 {
    cursor: pointer;
}

.num1 div {
    background-color: var(--bronze-color);

}

.num1 {
    border: 5px solid var(--bronze-color);
    border-radius: 10px;
}

button.num1 {
    cursor: pointer;
}

.num2 div {
    background-color: var(--silver-color);

}

.num2 {
    border: 5px solid var(--silver-color);
    border-radius: 10px;
}

button.num2 {
    cursor: pointer;
}

.num3 div {
    background-color: var(--gold-color);

}

.num3 {
    border: 5px solid var(--gold-color);
    border-radius: 10px;
}

button.num3 {
    cursor: pointer;
}

/* Card Annimation */
.memCard.animate {
    animation: cardUp 1s ease-out forwards;
}

.num0 {
    animation-delay: 0s;
}

.num1 {
    animation-delay: 0.3s;
}

.num2 {
    animation-delay: 0.6s;
}

.num3 {
    animation-delay: 0.9s;
}

@keyframes cardUp {
    from {
        opacity: 0;
        transform: translateY(150px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Membership Modals */

dialog {
    width: 400px;
    max-height: 450px;
    border: 6px solid var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding: 20px;

}

::backdrop {
    background-color: rgb(0 0 0 / 50%);
}

dialog div {
    display: grid;
    grid-template-columns: auto 50px;
    padding: 10px;
}

dialog h2 {
    color: var(--primary-color);
    margin: 0px;
    text-align: center;
}

dialog h3 {
    color: var(--secondary-color);
    margin: 0px;
}

dialog button {
    display: block;
    justify-self: center;
    margin: .5em;
    width: 10em;
    height: 45px;
    cursor: pointer;
}

dialog.memLvl0 button,
dialog.memLvl0 {
    border: solid var(--np-color) 10px;
    border-radius: 5px;
}

dialog.memLvl1 button,
dialog.memLvl1 {
    border: solid var(--bronze-color) 10px;
    border-radius: 5px;
}

dialog.memLvl2 button,
dialog.memLvl2 {
    border: solid var(--silver-color) 10px;
    border-radius: 5px;
}

dialog.memLvl3 button,
dialog.memLvl3 {
    border: solid var(--gold-color) 10px;
    border-radius: 5px;
}

.benefits {
    display: flex;
    flex-direction: column;
}

/* *********************THANK YOU!********************* */

#ty h1 {
    text-align: center;
}

#thankYou {
    display: block;
    border: 5px solid var(--primary-color);
    border-radius: 10px;
    margin: 2em;
    padding: 1em;

}

/* *********************FOOTER********************* */

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;

}

.footerContainer {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
}


.info {
    text-align: left;
    margin-top: 15px;
}

.footer-title {

    font-weight: 600;
}

.info p {
    color: var(--primary-color);
    margin: .2rem;
}

.foot-icons {
    display: flex;
    justify-content: space-evenly;
    column-gap: 8px;
    margin-top: 10px;
    margin-bottom: 15px;

}

.foot-icons a {
    display: flex;
    justify-content: center;
    align-items: center;

}

.foot-icons img {
    width: 50px;
    height: 50px;

}

.foot-icons a:hover {
    background-color: #ddd;
}


#currentYear,
.footerTxt,
#lastModified,
#lastMod {
    color: var(--primary-color);
}